.content-wrapper{
	min-height: 100%;
	background-color: #ecf0f5;
    z-index: 800;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
}

.content-wrapper.smallcont{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 50px;
}

@media (max-width: 767px){
	#body .content-wrapper{
	    margin-left: 0 ;
	}	
}

.short{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 50px !important;
}

.long{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px !important;
}